[include /home/pi/printer_data/config/custom/steppers/motors/ldo/tmc5160/ldo-42sth48-2804ah.cfg]

#---------------------------------------------------- X -----------------------------------------------------
# The A motor in the CoreXY system located on the right side of the printer
#------------------------------------------------------------------------------------------------------------
[stepper_x]
enable_pin: !x_enable_pin
step_pin: x_step_pin
dir_pin: x_dir_pin                # Remove ! in front of pin name to reverse the direction of stepper_x
rotation_distance: 40              # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
microsteps: 64
full_steps_per_rotation: 200


#---------------------------------------------------- Y -----------------------------------------------------
# The B motor in the CoreXY system located on the left side of the printer
#------------------------------------------------------------------------------------------------------------
[stepper_y]
enable_pin: !y_enable_pin
step_pin: y_step_pin
dir_pin: y_dir_pin                 # Add ! in front of pin name to reverse the direction of stepper_y
rotation_distance: 40              # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
microsteps: 64
full_steps_per_rotation: 200
