## FPS Board (CAN Bridge + USB Hub + Hall Effect Pressure Sensor)
## MCU: STM32G0B1 with Katapult bootloader (8KiB offset)
## Replaces: U2C CAN adapter
## Connected: USB-C to Raspberry Pi
##
## Get the UUID: ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0

[mcu fps]
canbus_uuid: 0e8ab784e48c

[temperature_sensor FPS]
sensor_type: temperature_mcu
sensor_mcu: fps
