[include /home/pi/printer_data/config/custom/steppers/motors/ldo/tmc2209/ldo-36sth20-1004ahg-e.cfg]

[extruder]
filament_diameter: 1.750
rotation_distance: 22.832698    # Bondtech 5mm drive gears — starting point, calibrate
gear_ratio: 50:10               # Standard BMG (advertised 3:1, actually 50:17)
microsteps: 16                  # 32 is fine if your MCU can keep up
full_steps_per_rotation: 200    # 400 if you run a 0.9° motor
pressure_advance_smooth_time: 0.020

[firmware_retraction]
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 60

#[filament_switch_sensor post_extruder_sensor]
#pause_on_runout: False		# False due to ERCF
#switch_pin: toolboard_t0:PB3

#[filament_switch_sensor pre_extruder_sensor]
#pause_on_runout: False		# False due to ERCF
#switch_pin: toolboard_t0:PB4