[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: BASE_QUAD_GANTRY_LEVEL
gcode:
    {% set vars = printer["gcode_macro _PRINTER_VARS"] %}
    # Pass 1: Initial Coarse Leveling
    BASE_QUAD_GANTRY_LEVEL RETRY_TOLERANCE={vars.qgl_coarse_tolerance|float}
    # Pass 2: Fine Leveling and Accuracy
    BASE_QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z={vars.qgl_fine_move_z|float}