
[duplicate_pin_override]
pins: ADC_TEMPERATURE, toolboard_t0:ADC_TEMPERATURE, rpi:ADC_TEMPERATURE

# RPi Controller Fan
[controller_fan controller_fan]
pin: PE5
cycle_time:   0.010
idle_timeout: 600

# Electronics area exhaust fans
[controller_fan exhaust_fans]
pin: PD14
max_power: 0.70
idle_timeout: 600

# Controller cooling fans
[controller_fan octopus_pro_fan_array]
pin: PD12
cycle_time:   0.010
idle_timeout: 300


[temperature_fan ebb36_fan]
pin: toolboard_t0:PA0
max_power: 0.8
sensor_type: temperature_mcu
sensor_mcu: toolboard_t0
control: watermark
shutdown_speed: 0
min_temp: 0
max_temp: 100
target_temp: 60