[include ../extruders/wwbmg.cfg]
[include ../probes/beacon.cfg]
[include ../hotends/tk.cfg]


#---------------------------------------------------- X -----------------------------------------------------
# The A motor in the CoreXY system located on the right side of the printer
#------------------------------------------------------------------------------------------------------------
[stepper_x]
position_min: 0
position_max: 286
position_endstop: 286
homing_speed: 120

#---------------------------------------------------- Y -----------------------------------------------------
# The B motor in the CoreXY system located on the left side of the printer
#------------------------------------------------------------------------------------------------------------
[stepper_y]
position_min: 0
position_max: 310
position_endstop: 310
homing_speed: 120

[quad_gantry_level]
points:
   5,5
   5,255
   275,255
   275,5

# Part cooling fan
[fan]
pin: PD15
hardware_pwm: False
kick_start_time: 0.100

[neopixel nozzle_led]
pin: toolboard_t0:PD3
chain_count: 3                  # 3 = Stealthburner (1 logo + 2 nozzle). Change to match your strip.
color_order: GRB                # WS2812B = GRB. SK6812 RGBW = GRBW. Test: send pure RED; if you get green, order is wrong.
initial_RED: 0.2
initial_GREEN: 0.2
initial_BLUE: 0.2

