[include ../extruders/sherpa_mini-8t.cfg]
[include ../probes/beacon.cfg]


#---------------------------------------------------- X -----------------------------------------------------
# The A motor in the CoreXY system located on the right side of the printer
#------------------------------------------------------------------------------------------------------------
[stepper_x]
position_min: 0
position_max: 300
position_endstop: 300
homing_speed: 120

#---------------------------------------------------- Y -----------------------------------------------------
# The B motor in the CoreXY system located on the left side of the printer
#------------------------------------------------------------------------------------------------------------
[stepper_y]
position_min: 0
position_max: 300
position_endstop: 300
homing_speed: 120