[respond]
[pause_resume]
[display_status]
[exclude_object]
# [save_variables] is defined in mmu/base/mmu_macro_vars.cfg (Klipper only allows one)
# filename: /home/pi/printer_data/config/mmu/mmu_vars.cfg